body {
    background-color: rgb(23, 201, 23);
}

h1 {
    text-align: center;
    margin-top: 20%;
    font-size: 100px;

    color: blue;
    background-color: white;
    border: 10px solid rgb(185, 17, 17);
    outline: 20px solid rgb(0, 0, 0);
    opacity: 0.5;
    border-radius: 100px;

}